apiVersion: v1
kind: Secret
metadata:
  name: private-reading-worker-secrets
  namespace: private-reading
type: Opaque
data:
  # Base64 encoded WORKER_API_KEY
  WORKER_API_KEY: "<BASE64_ENCODED_KEY>"

---
apiVersion: v1
kind: Secret
metadata:
  name: private-reading-oci-config
  namespace: private-reading
type: Opaque
data:
  # Base64 encoded ~/.oci/config and the private key
  config: "<BASE64_ENCODED_CONFIG>"
  key.pem: "<BASE64_ENCODED_PRIVATE_KEY>"
